body{
    background: #2b2b28;
    font-family:  'Luckiest Guy', 'Gloria Hallelujah', 'Rammetto One', 'Roboto',  cursive;
    line-height: 1.6em;
    letter-spacing: .2em;
    margin: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(https://s3.amazonaws.com/jh3-blogbucket/fireNdog2.png?response-content-disposition=inline&X-Amz-Security-Token=AgoGb3JpZ2luEHMaCXVzLWVhc3QtMSKAArB5gLjhtgkGo9oyjJsib6iatPEc39LJCMKoDUS4lRQIjR1XqQfdRKUgfdWRG3f017W4KaoKTimmQyg2BZHia56jLc5aCvsdIzxsvt8r7WtT3PNHNThe5ReTBOAxadbusc%2BRFrIgNwH5vUkuwt5%2B%2FAAA4BGoDxMbr8sMsMOxlkWN7cr0Mh3e6Q0VJHkkhyYsv2%2F8flrnMXRTiG7WRUsY%2B1%2FaVMT1fKQ3Tz3olxF%2Bm%2B2bxjrKa1kukufB3lbgPpKrfR4MiNPyEe9f4gkT20xxVuJB2Vo5YfYJm5m%2ByvHW18M8Q%2FldhzkN8H3nSeeLzjqYwy0uTCaJTRKxY9Ub8a9rPiEq8gMIeBAAGgwxOTc5ODAyOTUzNzQiDCKv7LEMJ7JJ3ibH5yrPA7tOFNW%2FV%2B%2FQgbmAUF8BUwwuWDw5yd93RorDDTzO3%2BioTP%2FpvUdVXchLtEGHtQ8LcYeiK6mlvkNo742FmBEE%2BifDG3TZ29zyHRw%2B22q22JdQfAkNnvIDxWmlYcHMCKLFHQCU%2Fl47SETvSpudBANt0mqStleL5Ufm3gKKoG1KjB4fL%2Bz4EaiTDLDoHuhhL%2FFsx2heN%2BiqPyV9p%2F1pz36QMp45ylTK7xhN4HspjMu%2FUJBbuu61bENLahLl0hdH3Aj1XTHeCNcLQyUzZL85LlO6MuTZ3DoEBjW2gwoVqTmIlxmJiVoVc8AR7JJnrwbO9O9cu3MkM938jeiVrMTFSqYBRGcb2F6Per3mFUoLK1W2bu4NUjE48fS6s5NN6K41Yy%2FU3URsqxsMPKNkvKXO%2FKZcl%2FQxCHldCa%2Ffp%2BtkbHOB3oV23GbQggl%2F1T4JWsnUin8hTrOLTjapOcISCpA6TEEZNPv0qGzFEnTJDHIJaQIc0QABBcq2IIfWZuJDjNa2t4dNxGnUs2%2Fvc8RLy2JoP6Fh6lL2OfIgUdfhVa9tBrHBZZHAu0soQG%2BM%2Bd7Hs9tbgEB8Rk9mCzvjkVjIMTbe1%2FrbmLbZWKFzGAF7Au687OqJqo8wy7uv1QU%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20180316T151021Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAJGJU2XYVTSDWKAJQ%2F20180316%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=087c56bd6e0dd9f965cb1a952320cdd339f595c5911bc7d26c7cda8e1b128716);
    background-size:  100% 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
    height: 400px;
    width: 100%;
    z-index: -1;
}

.content {
    color: #d7dfe9;
    font-family:  'Gloria Hallelujah', 'Roboto',  cursive;
    font-size: 1em;
    text-shadow: 2px 2px 4px #ca210b;
    margin: 0;
    padding: 80px 20px 80px 20px;
    text-align: right;
}

.gallery {
    background-image: url(https://s3.amazonaws.com/jh3-blogbucket/lineUp.jpg?response-content-disposition=inline&X-Amz-Security-Token=AgoGb3JpZ2luEHMaCXVzLWVhc3QtMSKAArB5gLjhtgkGo9oyjJsib6iatPEc39LJCMKoDUS4lRQIjR1XqQfdRKUgfdWRG3f017W4KaoKTimmQyg2BZHia56jLc5aCvsdIzxsvt8r7WtT3PNHNThe5ReTBOAxadbusc%2BRFrIgNwH5vUkuwt5%2B%2FAAA4BGoDxMbr8sMsMOxlkWN7cr0Mh3e6Q0VJHkkhyYsv2%2F8flrnMXRTiG7WRUsY%2B1%2FaVMT1fKQ3Tz3olxF%2Bm%2B2bxjrKa1kukufB3lbgPpKrfR4MiNPyEe9f4gkT20xxVuJB2Vo5YfYJm5m%2ByvHW18M8Q%2FldhzkN8H3nSeeLzjqYwy0uTCaJTRKxY9Ub8a9rPiEq8gMIeBAAGgwxOTc5ODAyOTUzNzQiDCKv7LEMJ7JJ3ibH5yrPA7tOFNW%2FV%2B%2FQgbmAUF8BUwwuWDw5yd93RorDDTzO3%2BioTP%2FpvUdVXchLtEGHtQ8LcYeiK6mlvkNo742FmBEE%2BifDG3TZ29zyHRw%2B22q22JdQfAkNnvIDxWmlYcHMCKLFHQCU%2Fl47SETvSpudBANt0mqStleL5Ufm3gKKoG1KjB4fL%2Bz4EaiTDLDoHuhhL%2FFsx2heN%2BiqPyV9p%2F1pz36QMp45ylTK7xhN4HspjMu%2FUJBbuu61bENLahLl0hdH3Aj1XTHeCNcLQyUzZL85LlO6MuTZ3DoEBjW2gwoVqTmIlxmJiVoVc8AR7JJnrwbO9O9cu3MkM938jeiVrMTFSqYBRGcb2F6Per3mFUoLK1W2bu4NUjE48fS6s5NN6K41Yy%2FU3URsqxsMPKNkvKXO%2FKZcl%2FQxCHldCa%2Ffp%2BtkbHOB3oV23GbQggl%2F1T4JWsnUin8hTrOLTjapOcISCpA6TEEZNPv0qGzFEnTJDHIJaQIc0QABBcq2IIfWZuJDjNa2t4dNxGnUs2%2Fvc8RLy2JoP6Fh6lL2OfIgUdfhVa9tBrHBZZHAu0soQG%2BM%2Bd7Hs9tbgEB8Rk9mCzvjkVjIMTbe1%2FrbmLbZWKFzGAF7Au687OqJqo8wy7uv1QU%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20180316T151113Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAJGJU2XYVTSDWKAJQ%2F20180316%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3f8504d6f01418f78290565041f407f995731b50e7a1b810e34c62d9e08bf002);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    z-index: -1;
}

.footer {
    color: #ffffff;
    display: flex;
    font-size: 1em;
    font-family:  'Roboto', 'Gloria Hallelujah', cursive;
    font-weight: 300;
    flex-flow: row wrap;
    flex-grow: 1;   
    justify-content: center;
    align-content: space-between;
    align-items: flex-end;
}

.social-links, ul {
    order: 1;
    flex-basis: auto;
    list-style: none;
    padding: 0 30px 0 30px;
}
.contact, ul {
    order: 3;
    flex-basis: auto;
    list-style: none;
    padding: 0 30px 0 30px;
}

.cert {
    order: 2;
    flex-basis: auto;
    padding: 0 80px 0 80px;
}

.author, span{
    color: #ffffff;
    font-size: 1em;
    font-size: 1em;
    font-family:  'Roboto', arial, sans-serif;
    font-weight: 100;
    text-align: center;

}

.author a {
    color: #d7dfe9;
    text-decoration: none;

}

.author a:hover {
    color: #9397a7;
    font-size: .9em;
    text-transform: uppercase;
}